* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background{
    height: 100vh;
    width: 70%;
    background-color: black;
    overflow: hidden;
  }

  .barra{
    width: 100%;
    height: 20vh;
    background-color: rgb(255, 255, 255);
  }

  .box_txt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
  }

  .text{
    height: 50%;
    width: 90%;
    background-color: black;
  }